.btn{
    padding:.5rem 1rem;
    font-size: .8rem;
    margin-right: 2rem;
    margin-top: 1rem;
    background-color: rgba(0, 0, 255, 0.562);
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 5px;
    color: aqua;
    transition: .2s;
}
.btn:active{
    transform: scale(.95);
    color: rgb(4, 35, 9);
    
}